body {
    font-family: sans-serif;

}

.container {
    padding: 20px;
}



core-menu {
    color: #01579b;

}

body /deep/ core-toolbar {
    background-color: #1565C0;
    color: #ffffff;
}

core-header-panel{
    background-color: #ffffff;
}



#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    

}

.double-img{
        display: table; /* shrink wrap the contents */
        margin: 0 auto;
}
.triple-img{
    
    display: table; /* shrink wrap the contents */
    margin: 0 auto;
}

.icon-style{
    text-decoration: none;
}

.icon-box{
    position: absolute; 
    bottom: 20px;
}





