<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">James Michael Reilly</h5>
        <p class="grey-text text-lighten-4">Feel free to contact me to discuss any of my projects or any job/co-op opportunities</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social Media</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/j.reilly777">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/JReillyFactor">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com/+JamesReillyM/">Google+</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/jamesmichaelreilly">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/James-Reilly">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 James Reilly
    </div>
  </div>
</footer>
