<!DOCTYPE html>
<html>
    <head>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
      <link rel="stylesheet" href="../styles.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    <!-- The navbar for the website -->
      <nav class="light-blue darken-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/index.html" class="brand-logo">James Reilly</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/index.html">About</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/resume.pdf">Resume</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="/index.html">About</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/resume.pdf">Resume</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center white-text">Gobblet AI</h1>
            <div class="row center">
              <h5 class="header col s12 light white-text">Final Project for CS2 that was an AI to play the game Gobblet</h5>
            </div>
          </div>
        </div>
        <div class="parallax blend">   
          <img src="" alt="">
        </div>
      </div>   
      <div class="section">
        <div class="container">
            [content]
        </div>
      </div>        
    </body>
        
    <footer class="page-footer light-blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">James Michael Reilly</h5>
            <p class="grey-text text-lighten-4">Feel free to contact me to discuss any of my projects or any job/co-op opportunities</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social Media</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/j.reilly777">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="https://twitter.com/JReillyFactor">Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="https://plus.google.com/+JamesReillyM/">Google+</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/jamesmichaelreilly">Linkedin</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/James-Reilly">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 James Reilly
        </div>
      </div>
    </footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
      <script src="../index.js"></script>

    </body>
</html>