<nav class="light-blue darken-4" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/index.html" class="brand-logo">James Reilly</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/index.html">About</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/resume.pdf">Resume</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="/index.html">About</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/resume.pdf">Resume</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
